
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<main>
    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-action="Checkout">Checkout</a></li>
                            <li class="breadcrumb-item"><a href="#">Thank You</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-success"></span>
                    <h2 class="display-3 text-black">Thank you!</h2>
                    <p class="lead mb-5">You order was successfuly completed.</p>
                    <p><a class="btn btn-sm btn-primary mb-35" asp-controller="Home" asp-action="Index">Back to shop</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

